{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
  Page Link
{% endblock title %}
{% block main %}

<div class = "container" style = "padding: 20px 20px 20px 20px; border-radius: 25px; margin: 150px 150px 150px 200px;">
    <hr>
    <div class="section-title" data-aos="zoom-out">
        <h2>page link</h2>
        <p>YOUR WEBSITE</p>
      </div>
    <main role="main" class="inner cover">
        <h1>{{link}}</h1>
    </main>
    <hr>
</div>

{% endblock main %}